<!doctype html>
<html class="no-js" lang="en">


<!-- Mirrored from htmldemo.net/reid/reid/index-7.html by HTTrack Website Copier/3.x [XR&CO'2014], Sat, 17 Feb 2024 13:44:51 GMT -->
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Reid - Fashion eCommerce HTML Template</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="assets/img/favicon.ico">
    
    <!-- CSS 
    ========================= -->


    <!-- Plugins CSS -->
    <link rel="stylesheet" href="assets/css/plugins.css">
    
    <!-- Main Style CSS -->
    <link rel="stylesheet" href="assets/css/style.css">

</head>

<body>

    <!--header area start-->
    <header class="header_area header_seven sticky-header">
        <!--header top start-->
        <div class="container-fluid"> 
               <div class="header_seven_top">
                <div class="row align-items-center">
                   <div class="col-lg-3">
                        <div class="header_top_logo_wrapper">
                            <div class="logo">
                                <a href="/"><img src="assets/img/logo/logo.png" alt=""></a>
                            </div>
                            <div class="home_menu_bar">
                                <div class="icone_menu">
                                    <a href="#"><i class="fa fa-bars"></i></a>
                                    <div class="home_menu_inner">
                                        <nav>  
                                            <ul>
                                                <li class="home_page_mennu"><a href="/">Home</a>
                                                </li>
                                                <li class="home_page_mennu"><a href="/shop">Shop</a>
                                                </li>
                                                <li class="home_page_mennu"><a href="/signup">Register</a>
                                                </li>
                                                <li class="home_page_mennu"><a href="/login">Login</a>
                                                </li>
                                            </ul>  
                                        </nav>
                                    </div>
                                </div>
                                
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-9">
                        <div class="header_top_right">
                           
                            <div class="top_right">
                                <a class="top_links" href="/user-profile">My Account</a>
                            </div>
                            
                            <div class="cart_link">
                                <a href="#"><i class="fa fa-shopping-basket"></i></a>
                                <!--mini cart-->
                                 <div class="mini_cart">
                                    <div class="cart_button view_cart">
                                        <a href="/wishlist">View Wishlist</a>
                                    </div>
                                    <div class="cart_button view_cart">
                                        <a href="/cart">View Cart</a>
                                    </div>
                                    <div class="cart_button checkout">
                                        <a href="/checkoutPage">Checkout</a>
                                    </div>
                                    <div class="cart_button checkout" style="margin-top: 20px;">
                                        <a href="/get-wallet">Wallet</a>
                                    </div>
                                    
                                </div>
                                <!--mini cart end-->
                            </div>
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--header top end-->
    </header>
    <!--header area end-->

    <!--slider area start-->
    <div class="slider_area home_seven_slider owl-carousel">
        <div class="single_slider" data-bgimg="assets/img/slider/slider13.jpg">
           <div class="slider_content_inner">
                <div class="slider_content">
                   <h2>new arrivals</h2>
                    <h1>Shirts</h1>
                    <p>"From classic button-downs to trendy prints, our shirts blend comfort and style for every occasion." </p>
                    <a href="/shop">Discover Now</a>
                </div>  
            </div>     
        </div>
    </div>
    <!--slider area end-->
    
    <!--product section area start-->
    <section class="product_section womens_product">
        <div class="container">
            <div class="row">   
                <div class="col-12">
                   <div class="section_title">
                       <h2>Our Products</h2>
                       <p>"Our products combine quality craftsmanship with modern design, ensuring timeless style for every wearer."</p>
                   </div>
                </div> 
            </div>    
            <div class="product_area"> 
                 <div class="tab-content">
                      <div class="tab-pane fade show active" id="clothing" role="tabpanel">
                             <div class="product_container">
                                <div class="row product_column4">
                                    <% for (let i = 0; i < products.length; i++) { %>
                                    <div class="col-lg-3">
                                        <div class="single_product">
                                            <div class="product_thumb">
                                                <a class="primary_img" href="/productDetails/<%= products[i]._id %>"><img src="/uploads/product-images/<%=products[i].productImage[0]%>" alt=""></a>
                                                <a class="secondary_img" href="/productDetails/<%= products[i]._id %>"><img src="/uploads/product-images/<%= products[i].productImage[1] %>" alt=""></a>
                                               
                                             
                                                <% let priceDifference = products[i].regularPrice - products[i].salePrice; %>
                                                <% if (priceDifference > 0) { %>
                                                    <div class="product_sale">
                                                        <span>₹<%= priceDifference %> off</span>
                                                    </div>
                                                <% } %>
                                            
                                            </div>
                                            <div class="product_content">
                                                <h3><a href="/productDetails/:id"><%= products[i].productName %></a></h3>
                                                <span class="current_price">₹<%= products[i].salePrice.toFixed(2) %></span>
                                                <span class="old_price">₹<%= products[i].regularPrice.toFixed(2) %></span>
                                            </div>
                                        </div>
                                    </div>
                                    <% } %>
                                </div>
                            </div>
                      </div>
                    
                </div>
            </div>
               
        </div>
    </section>
    <!--product section area end-->
    
    <!--footer area start-->
    <footer class="footer_widgets">
        <div class="footer_top">
            <div class="container">
                <div class="row">
                    <div class="col-lg-2 col-md-6 col-sm-6 col-6">
                        <div class="widgets_container">
                            <h3>Information</h3>
                            <div class="footer_menu">
                                <ul>
                                    <li><a href="about.html">About Us</a></li>
                                    <li><a href="#">Delivery Information</a></li>
                                    <li><a href="privacy-policy.html">Privacy Policy</a></li>
                                    <li><a href="#">Terms & Conditions</a></li>
                                    <li><a href="contact.html">Contact Us</a></li>
                                    <li><a href="#">Returns</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-2 col-md-6 col-sm-6 col-6">
                        <div class="widgets_container">
                            <h3>Extras</h3>
                            <div class="footer_menu">
                                <ul>
                                    <li><a href="#">Brands</a></li>
                                    <li><a href="#">Gift Certificates</a></li>
                                    <li><a href="#">Affiliate</a></li>
                                    <li><a href="#">Specials</a></li>
                                    <li><a href="contact.html">Site Map</a></li>
                                    <li><a href="my-account.html">My Account</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6">
                        <div class="widgets_container contact_us">
                            <h3>Contact Us</h3>
                            <div class="footer_contact">
                                <p>Address:Your address goes here.</p>
                                <p>Phone: <a href="tel:01234567890">01234567890</a> </p>
                                <p>Email: reid@gmail.com</p>
                                <ul>
                                    <li><a href="#" title="Twitter"><i class="fa fa-twitter"></i></a></li>
                                    <li><a href="#" title="google-plus"><i class="fa fa-google-plus"></i></a></li>
                                    <li><a href="#" title="facebook"><i class="fa fa-facebook"></i></a></li>
                                    <li><a href="#" title="youtube"><i class="fa fa-youtube"></i></a></li>
                                </ul>
                              
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6">
                        <div class="widgets_container newsletter">
                            <h3>Join Our Newsletter Now</h3>
                            <div class="newleter-content">
                                <p>Exceptional quality. Ethical factories. Sign up to enjoy free U.S. shipping and returns on your first order.</p>
                                 <div class="subscribe_form">
                                    <form id="mc-form" class="mc-form footer-newsletter" >
                                        <input id="mc-email" type="email" autocomplete="off" placeholder="Enter you email address here..." />
                                        <button id="mc-submit">Subscribe !</button>
                                    </form>
                                    <!-- mailchimp-alerts Start -->
                                    <div class="mailchimp-alerts text-centre">
                                        <div class="mailchimp-submitting"></div><!-- mailchimp-submitting end -->
                                        <div class="mailchimp-success"></div><!-- mailchimp-success end -->
                                        <div class="mailchimp-error"></div><!-- mailchimp-error end -->
                                    </div><!-- mailchimp-alerts end -->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer_bottom">
            <div class="container">
               <div class="row">
                    <div class="col-lg-6 col-md-6">
                        <div class="copyright_area">
                            <p> &copy; 2022 <strong> Reid </strong> Made with ❤️ by <a href="https://hasthemes.com/" target="_blank"><strong>HasThemes</strong></a></p>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6">
                        <div class="footer_custom_links">
                            <ul>
                                <li><a href="/user-profile">Order History</a></li>
                                <li><a href="/wishlist">Wish List</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!--footer area end-->
   
   
    

<!-- JS
============================================ -->

<!-- Plugins JS -->
<script src="assets/js/plugins.js"></script>

<!-- Main JS -->
<script src="assets/js/main.js"></script>



</body>


<!-- Mirrored from htmldemo.net/reid/reid/index-7.html by HTTrack Website Copier/3.x [XR&CO'2014], Sat, 17 Feb 2024 13:44:52 GMT -->
</html>