<%- include("../partials/header") %>

    <!-- Centered search bar -->
    <div style="display: flex; justify-content: center;">
        <div class="search_bar">
            <form id="searchForm" action="/search-product" method="POST">
                <input type="text" name="query" placeholder="Search products..." />
                <button type="submit"><i class="fa fa-search"></i></button>
            </form>
        </div>
    </div>

    <!--breadcrumbs area start-->
    <div class="breadcrumbs_area">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="breadcrumb_content">
                        <ul>
                            <li><a href="/">home</a></li>
                            <li>/</li>
                            <li>shop</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--breadcrumbs area end-->

    <!--shop  area start-->
    <div class="shop_area">
        <div class="container">
            <div class="shop_inner_area">
                <div class="row">
                    <div class="col-lg-9 col-md-12">
                        <!--shop wrapper start-->
                        <div class="shop_toolbar_wrapper">
                            <div class="shop_toolbar_btn">

                                <button data-role="grid_3" type="button" class="active btn-grid-3"
                                    data-bs-toggle="tooltip" title="3"></button>

                                <button data-role="grid_4" type="button" class=" btn-grid-4" data-bs-toggle="tooltip"
                                    title="4"></button>

                                <button data-role="grid_5" type="button" class="btn-grid-5" data-bs-toggle="tooltip"
                                    title="5"></button>

                                <button data-role="grid_list" type="button" class="btn-list" data-bs-toggle="tooltip"
                                    title="List"></button>
                            </div>

                            <div class="dropdown">
                                <button class="dropbtn">Sort by</button>
                                <div class="dropdown-content">
                                    <a href="/shop?sort=lowToHigh">Price: Low to High</a>
                                    <a href="/shop?sort=highToLow">Price: High to Low</a>
                                    <a href="/shop?sort=releaseDate">Price: Release Date</a>
                                </div>
                            </div>


                            <style>
                                /* Style the dropdown button */
                                .dropbtn {
                                    background-color: #fff;
                                    color: #333;
                                    padding: 10px;
                                    font-size: 16px;
                                    border: none;
                                    cursor: pointer;
                                }

                                /* Style the dropdown content (hidden by default) */
                                .dropdown-content {
                                    display: none;
                                    position: absolute;
                                    background-color: #fff;
                                    min-width: 160px;
                                    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
                                    z-index: 1;
                                }

                                /* Style the links inside the dropdown */
                                .dropdown-content a {
                                    color: #333;
                                    padding: 12px 16px;
                                    text-decoration: none;
                                    display: block;
                                }

                                /* Change color of dropdown links on hover */
                                .dropdown-content a:hover {
                                    background-color: #f1f1f1;
                                }

                                /* Show the dropdown content when the dropdown button is hovered over */
                                .dropdown:hover .dropdown-content {
                                    display: block;
                                }
                            </style>




                        </div>
                        <!--shop toolbar end-->

                        <div id="productWrapper" class="row shop_wrapper">
                            <% for (let i=0; i < product.length; i++) { %>
                                <div class="col-lg-4 col-md-4 col-12 ">
                                    <div class="single_product">
                                        <div class="product_thumb">
                                            <% console.log('product.productImage:', product.productImage); %>
                                                <a class="primary_img" href="/productDetails/<%= product[i]._id %>"><img
                                                        src="/uploads/product-images/<%= product[i].productImage[0] %>"
                                                        alt=""></a>
                                                <a class="secondary_img"
                                                    href="/productDetails/<%= product[i]._id %>"><img
                                                        src="/uploads/product-images/<%= product[i].productImage[1] %>"
                                                        alt=""></a>
                                                <div class="product_action">
                                                    <div class="hover_action">
                                                        <a href="#"><i class="fa fa-plus"></i></a>
                                                        <div class="action_button">
                                                            <ul>
                                                                <li><a title="add to cart" href="/cart"><i
                                                                            class="fa fa-shopping-basket"
                                                                            aria-hidden="true"></i></a></li>
                                                                <li><a href="/wishlist" title="add to wishlist"><i
                                                                            class="fa fa-heart-o"
                                                                            aria-hidden="true"></i></a></li>
                                                            </ul>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="quick_button">
                                                    <a href="#" data-bs-toggle="modal" data-bs-target="#modal_box"
                                                        title="quick_view">+ quick view</a>
                                                </div>

                                                <% let priceDifference=product[i].regularPrice - product[i].salePrice;
                                                    %>
                                                    <% if (priceDifference> 0) { %>
                                                        <div class="product_sale">
                                                            <span>₹<%= priceDifference %> off</span>
                                                        </div>
                                                        <% } %>
                                        </div>

                                        <div class="product_content grid_content">
                                            <h3><a href="/productDetails/:id">
                                                    <%= product[i].productName %>
                                                </a></h3>
                                            <span class="current_price">₹<%= product[i].salePrice.toFixed(2) %></span>
                                            <span class="old_price">₹<%= product[i].regularPrice.toFixed(2) %></span>
                                            <span class="stock_status"
                                                style="margin-left: 10px; color: <%= product[i].totalQuantity > 0 ? 'green' : 'red' %>;">
                                                <%= product[i].totalQuantity> 0 ? 'In Stock' : 'Out of Stock' %>
                                            </span>
                                        </div>


                                        <div class="product_content list_content">
                                            <h3><a href="/productDetails/:id">
                                                    <%= product[i].productName %>
                                                </a></h3>
                                            <div class="product_ratting">
                                                <ul>
                                                    <li><a href="#"><i class="fa fa-star"></i></a></li>
                                                    <li><a href="#"><i class="fa fa-star"></i></a></li>
                                                    <li><a href="#"><i class="fa fa-star"></i></a></li>
                                                    <li><a href="#"><i class="fa fa-star"></i></a></li>
                                                    <li><a href="#"><i class="fa fa-star"></i></a></li>
                                                </ul>
                                            </div>
                                            <div class="product_price">
                                                <span class="current_price">₹<%= product[i].salePrice.toFixed(2) %>
                                                </span>
                                                <span class="old_price">₹<%= product[i].regularPrice.toFixed(2) %>
                                                </span>
                                            </div>
                                            <div class="product_desc">
                                                <p>
                                                    <%= product[i].productDescription %>
                                                </p>
                                            </div>

                                        </div>

                                    </div>
                                </div>
                                <% } %>

                        </div>
                        <!--shop toolbar start-->
                        <div class="shop_toolbar t_bottom">
                            <div class="pagination">
                                <ul>
                                    <% if (currentPage> 1) { %>
                                        <li class="prev"><a href="/shop?page=<%= currentPage - 1 %>">Previous</a></li>
                                        <% } %>

                                            <% for (let i=1; i <=totalPages; i++) { %>
                                                <li class="<%= i === currentPage ? 'current' : '' %>">
                                                    <a href="/shop?page=<%= i %>">
                                                        <%= i %>
                                                    </a>
                                                </li>
                                                <% } %>

                                                    <% if (currentPage < totalPages) { %>
                                                        <li class="next"><a
                                                                href="/shop?page=<%= currentPage + 1 %>">Next</a></li>
                                                        <% } %>
                                </ul>
                            </div>
                        </div>
                        <!--shop toolbar end-->
                        <!--shop wrapper end-->
                    </div>
                    <div class="col-lg-3 col-md-12">
                        <!--sidebar widget start-->
                        <div class="sidebar_widget">
                            <div class="widget_list widget_filter">
                                <h2>Filter by price</h2>
                                <form id="priceFilterForm" action="/filter-price" method="POST">
                                    <!-- Hidden input fields to store minPrice and maxPrice values -->
                                    <input type="hidden" name="minPrice" id="minPriceInput" value="">
                                    <input type="hidden" name="maxPrice" id="maxPriceInput" value="">

                                    <!-- Slider range for selecting price -->
                                    <div id="slider-range"></div>

                                    <!-- Display selected price range -->
                                    <input type="text" name="amount" id="amount" readonly>

                                    <!-- Submit button -->
                                    <button type="submit">Filter</button>
                                </form>
                            </div>


                            <div class="widget_list widget_categories">
                                <h2>Product categories</h2>
                                <ul>
                                    <li><a href="/filter?category=65d49268fc9e287ab389c85e">T-shirts <span>2</span></a>
                                    </li>
                                    <li><a href="/filter?category=65d49281fc9e287ab389c864">Shirts <span>2</span></a>
                                    </li>
                                    <li><a href="/filter?category=65d4929bfc9e287ab389c86a">Sweatshirt
                                            <span>2</span></a> </li>
                                    <li><a href="/filter?category=65d9ce2aba3278170c0c87fe"> Jeans <span>2</span></a>
                                    </li>
                                </ul>
                            </div>



                        </div>
                        <!--sidebar widget end-->
                    </div>

                </div>
            </div>

        </div>
    </div>
    <!--shop  area end-->

    <!-- modal area start-->
    <div class="modal fade" id="modal_box" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <div class="modal_body">
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-5 col-md-5 col-sm-12">
                                <div class="modal_tab">
                                    <div class="tab-content product-details-large">
                                        <div class="tab-pane fade show active" id="tab1" role="tabpanel">
                                            <div class="modal_tab_img">
                                                <a href="#"><img src="assets/img/product/product4.jpg" alt=""></a>
                                            </div>
                                        </div>
                                        <div class="tab-pane fade" id="tab2" role="tabpanel">
                                            <div class="modal_tab_img">
                                                <a href="#"><img src="assets/img/product/product6.jpg" alt=""></a>
                                            </div>
                                        </div>
                                        <div class="tab-pane fade" id="tab3" role="tabpanel">
                                            <div class="modal_tab_img">
                                                <a href="#"><img src="assets/img/product/product8.jpg" alt=""></a>
                                            </div>
                                        </div>
                                        <div class="tab-pane fade" id="tab4" role="tabpanel">
                                            <div class="modal_tab_img">
                                                <a href="#"><img src="assets/img/product/product2.jpg" alt=""></a>
                                            </div>
                                        </div>
                                        <div class="tab-pane fade" id="tab5" role="tabpanel">
                                            <div class="modal_tab_img">
                                                <a href="#"><img src="assets/img/product/product12.jpg" alt=""></a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="modal_tab_button">
                                        <ul class="nav product_navactive owl-carousel" role="tablist">
                                            <li>
                                                <a class="nav-link active" data-bs-toggle="tab" href="#tab1" role="tab"
                                                    aria-controls="tab1" aria-selected="false"><img
                                                        src="assets/img/s-product/product3.jpg" alt=""></a>
                                            </li>
                                            <li>
                                                <a class="nav-link" data-bs-toggle="tab" href="#tab2" role="tab"
                                                    aria-controls="tab2" aria-selected="false"><img
                                                        src="assets/img/s-product/product.jpg" alt=""></a>
                                            </li>
                                            <li>
                                                <a class="nav-link button_three" data-bs-toggle="tab" href="#tab3"
                                                    role="tab" aria-controls="tab3" aria-selected="false"><img
                                                        src="assets/img/s-product/product2.jpg" alt=""></a>
                                            </li>
                                            <li>
                                                <a class="nav-link" data-bs-toggle="tab" href="#tab4" role="tab"
                                                    aria-controls="tab4" aria-selected="false"><img
                                                        src="assets/img/s-product/product4.jpg" alt=""></a>
                                            </li>
                                            <li>
                                                <a class="nav-link" data-bs-toggle="tab" href="#tab5" role="tab"
                                                    aria-controls="tab5" aria-selected="false"><img
                                                        src="assets/img/s-product/product5.jpg" alt=""></a>
                                            </li>

                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-7 col-md-7 col-sm-12">
                                <div class="modal_right">
                                    <div class="modal_title mb-10">
                                        <h2>Handbag feugiat</h2>
                                    </div>
                                    <div class="modal_price mb-10">
                                        <span class="new_price">$64.99</span>
                                        <span class="old_price">$78.99</span>
                                    </div>
                                    <div class="modal_description mb-15">
                                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Mollitia iste
                                            laborum ad impedit pariatur esse optio tempora sint ullam autem deleniti nam
                                            in quos qui nemo ipsum numquam, reiciendis maiores quidem aperiam, rerum vel
                                            recusandae </p>
                                    </div>
                                    <div class="variants_selects">
                                        <div class="variants_size">
                                            <h2>size</h2>
                                            <select class="select_option">
                                                <option selected value="1">s</option>
                                                <option value="1">m</option>
                                                <option value="1">l</option>
                                                <option value="1">xl</option>
                                                <option value="1">xxl</option>
                                            </select>
                                        </div>
                                        <div class="variants_color">
                                            <h2>color</h2>
                                            <select class="select_option">
                                                <option selected value="1">purple</option>
                                                <option value="1">violet</option>
                                                <option value="1">black</option>
                                                <option value="1">pink</option>
                                                <option value="1">orange</option>
                                            </select>
                                        </div>
                                        <div class="modal_add_to_cart">
                                            <form action="#">
                                                <input min="0" max="100" step="2" value="1" type="number">
                                                <button type="submit">add to cart</button>
                                            </form>
                                        </div>
                                    </div>
                                    <div class="modal_social">
                                        <h2>Share this product</h2>
                                        <ul>
                                            <li class="facebook"><a href="#"><i class="fa fa-facebook"></i></a></li>
                                            <li class="twitter"><a href="#"><i class="fa fa-twitter"></i></a></li>
                                            <li class="pinterest"><a href="#"><i class="fa fa-pinterest"></i></a></li>
                                            <li class="google-plus"><a href="#"><i class="fa fa-google-plus"></i></a>
                                            </li>
                                            <li class="linkedin"><a href="#"><i class="fa fa-linkedin"></i></a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- modal area start-->
   

    <%- include("../partials/footer") %>

        <script>

            const searchForm = document.getElementById('searchForm');

            searchForm.addEventListener('submit', async (event) => {
                event.preventDefault();
                const query = searchForm.elements.query.value;
                console.log(query);
                try {
                    const response = await fetch(`/search-product?query=${encodeURIComponent(query)}`);

                    if (response.ok) {
                        const products = await response.json();
                        console.log(products);
                        updateProductList(products);
                    } else {
                        console.error('Error searching for products:', response.status);
                    }
                } catch (error) {
                    console.error('Error searching for products:', error);
                }
            });

            function updateProductList(products) {
                // Clear the existing product list
                const productWrapper = document.getElementById('productWrapper');
                productWrapper.innerHTML = '';

                // Render the new product list
                for (let i = 0; i < products.length; i++) {
                    const product = products[i];

                    // Create the product element and append it to the productWrapper
                    const productElement = document.createElement('div');
                    productElement.classList.add('col-lg-4', 'col-md-4', 'col-12');
                    productElement.innerHTML = `
      <div class="single_product">
        <div class="product_thumb">
          <a class="primary_img" href="/productDetails/${product.id}">
            ${product.productImage && product.productImage.length > 0
                            ? `<img src="/uploads/product-images/${product.productImage[0]}" alt="">`
                            : `<img src="/images/placeholder.jpg" alt="Placeholder Image">`
                        }
          </a>
          <a class="secondary_img" href="/productDetails/${product.id}">
            ${product.productImage && product.productImage.length > 1
                            ? `<img src="/uploads/product-images/${product.productImage[1]}" alt="">`
                            : product.productImage && product.productImage.length > 0
                                ? `<img src="/uploads/product-images/${product.productImage[0]}" alt="">`
                                : `<img src="/images/placeholder.jpg" alt="Placeholder Image">`
                        }
          </a>
          <div class="product_action">
            <div class="hover_action">
              <a href="#"><i class="fa fa-plus"></i></a>
              <div class="action_button">
                <ul>
                  <li>
                    <a title="add to cart" href="/cart">
                      <i class="fa fa-shopping-basket" aria-hidden="true"></i>
                    </a>
                  </li>
                  <li>
                    <a href="/wishlist" title="add to wishlist">
                      <i class="fa fa-heart-o" aria-hidden="true"></i>
                    </a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <div class="quick_button">
            <a href="#" data-bs-toggle="modal" data-bs-target="#modal_box" title="quick_view">+ quick view</a>
          </div>

          ${product.regularPrice > product.salePrice
                            ? `<div class="product_sale"><span>₹${product.regularPrice - product.salePrice} off</span></div>`
                            : ''
                        }
        </div>

        <div class="product_content grid_content">
          <h3><a href="/productDetails/${product.id}">${product.productName}</a></h3>
          ${product.salePrice !== undefined && product.salePrice !== null
                            ? `<span class="current_price">₹${product.salePrice.toFixed(2)}</span>`
                            : `<span class="current_price">₹0.00</span>`
                        }
          ${product.regularPrice !== undefined && product.regularPrice !== null
                            ? `<span class="old_price">₹${product.regularPrice.toFixed(2)}</span>`
                            : `<span class="old_price">₹0.00</span>`
                        }
          <span class="stock_status" style="margin-left: 10px; color: ${product.totalQuantity > 0 ? 'green' : 'red'};">
            ${product.totalQuantity > 0 ? 'In Stock' : 'Out of Stock'}
          </span>
        </div>

        <div class="product_content list_content">
          <h3><a href="/productDetails/${product.id}">${product.productName}</a></h3>
          <div class="product_ratting">
            <ul>
              <li><a href="#"><i class="fa fa-star"></i></a></li>
              <li><a href="#"><i class="fa fa-star"></i></a></li>
              <li><a href="#"><i class="fa fa-star"></i></a></li>
              <li><a href="#"><i class="fa fa-star"></i></a></li>
              <li><a href="#"><i class="fa fa-star"></i></a></li>
            </ul>
          </div>
          <div class="product_price">
            ${product.salePrice !== undefined && product.salePrice !== null
                            ? `<span class="current_price">₹${product.salePrice.toFixed(2)}</span>`
                            : `<span class="current_price">₹0.00</span>`
                        }
            ${product.regularPrice !== undefined && product.regularPrice !== null
                            ? `<span class="old_price">₹${product.regularPrice.toFixed(2)}</span>`
                            : `<span class="old_price">₹0.00</span>`
                        }
          </div>
          <div class="product_desc">
            <p>${product.productDescription}</p>
          </div>
        </div>
      </div>
    `;

                    productWrapper.appendChild(productElement);
                }
            }





            $(function () {
                $("#slider-range").slider({
                    range: true,
                    min: 0,
                    max: 900,
                    values: [0, 900],
                    slide: function (event, ui) {
                        $("#amount").val("₹" + ui.values[0] + " - ₹" + ui.values[1]);
                        $("#minPriceInput").val(ui.values[0]);
                        $("#maxPriceInput").val(ui.values[1]);
                    }
                });
                $("#amount").val("₹" + $("#slider-range").slider("values", 0) +
                    " - ₹" + $("#slider-range").slider("values", 1));
            });







        </script>