<!doctype html>
<html class="no-js" lang="en">


<!-- Mirrored from htmldemo.net/reid/reid/login.html by HTTrack Website Copier/3.x [XR&CO'2014], Sat, 17 Feb 2024 13:44:34 GMT -->

<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title>Reid - login</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- Favicon -->
  <link rel="shortcut icon" type="image/x-icon" href="/assets/img/favicon.ico">

  <!-- CSS 
    ========================= -->


  <!-- Plugins CSS -->
  <link rel="stylesheet" href="/assets/css/plugins.css">

  <!-- Main Style CSS -->
  <link rel="stylesheet" href="/assets/css/style.css">

  <!-- Include SweetAlert CSS -->
  <!-- <link rel="stylesheet" href="https://unpkg.com/sweetalert/dist/sweetalert.css"> -->

  <!-- Include SweetAlert JS -->
  <!-- <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script> -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  <!-- Include SweetAlert2 CSS -->

  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.min.css">
  <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/toastify-js/src/toastify.min.css">
</head>

<div class="breadcrumbs_area other_bread">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="breadcrumb_content">
          <ul>
            <li><a href="/">home</a></li>
            <li>/</li>
            <li>wallet</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="wallet_details_area" style="margin-top: 50px;">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 offset-lg-2">
        <div class="wallet_details"
          style="background-color: #e3f2fd; padding: 20px; border-radius: 10px; box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); max-width: 500px; margin: 0 auto;">
          <h2 style="margin-bottom: 20px; text-align: center; color: #1565c0;">Wallet Details</h2>
          <% if (walletDetails) { %>
            <p style="font-size: 18px; margin-bottom: 10px;"><strong>Wallet Balance:</strong> ₹<%= walletAmount %>
            </p>
            <!-- Additional wallet information can be added here -->
            <% } else { %>
              <p style="font-size: 18px; margin-bottom: 10px;">No wallet balance available.</p>
              <% } %>
                <button type="button" class="btn btn-success" onclick="addMoney()">Add Money</button>
        </div>
      </div>
    </div>
    <div class="row mt-4">
      <div class="col-lg-8 offset-lg-2">
        <div class="card">
          <div class="card-header">
            <h5 class="mb-0">Wallet History</h5>
          </div>
          <div class="card-body">
            <div class="table-responsive">
              <table class="table">
                <thead>
                  <tr>
                    <th>Date</th>
                    <th>Status</th>
                    <th>Amount</th>
                  </tr>
                </thead>
                <tbody>
                  <% if (walletDetails && walletDetails.history) { %>
                    <% for (let i=0; i < walletDetails.history.length; i++) { %>
                      <tr>
                        <td>
                          <%= walletDetails.history[i].date.toLocaleDateString() %>
                        </td>
                        <td>
                          <%= walletDetails.history[i].status %>
                        </td>
                        <td>
                          <% if (walletDetails.history[i].status==='debit' ) { %>
                            -<%= walletDetails.history[i].amount %>
                              <% } else { %>
                                <%= walletDetails.history[i].amount %>
                                  <% } %>
                        </td>
                      </tr>
                      <% } %>
                        <% } else { %>
                          <tr>
                            <td colspan="3">No wallet history found</td>
                          </tr>
                          <% } %>
                </tbody>
              </table>
            </div>
            <% let currentPage = currentPage || 1; %>
            <nav aria-label="Wallet History Pagination">
              <ul class="pagination justify-content-center">
                <% if (currentPage> 1) { %>
                  <li class="page-item">
                    <a class="page-link" href="/wallet?page=<%= currentPage - 1 %>">Previous</a>
                  </li>
                  <% } %>
                    <% if (walletDetails && walletDetails.history.length===5) { %>
                      <li class="page-item">
                        <a class="page-link" href="/wallet?page=<%= currentPage + 1 %>">Next</a>
                      </li>
                      <% } %>
              </ul>
            </nav>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>



<script src="/assets/js/plugins.js"></script>

<!-- Main JS -->
<script src="/assets/js/main.js"></script>

<!-- Include SweetAlert2 JS -->
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/toastify-js"></script>
</body>

</html>

<script src="https://checkout.razorpay.com/v1/checkout.js"></script>
<script>



  async function addMoney() {
    const { value: amount } = await Swal.fire({
      title: 'Enter the Amount',
      input: 'number',
      inputLabel: 'Amount',
      inputPlaceholder: '₹'
    })
    $.ajax({
      url: "/addMoney",
      method: "post",
      data: {
        total: amount
      },
      success: (data) => {
        if (data.razorpay) {
          var options = {
            "key": "rzp_test_XnnB8x997qkm5Z",
            "amount": data.order.amount,
            "currency": "INR",
            "name": "Reid",
            "description": "Test Transaction",
            "image": "https://example.com/your_logo",
            "order_id": data.order.id,
            "handler": function (response) {
              verifyPayment(response, data);
            },
            "prefill": {
              "name": "Customer Name",
              "email": "customer@example.com",
              "contact": "9000090000"
            },

            "theme": {
              "color": "#3399cc"
            }
          }
          console.log(options);
          var rzp1 = new Razorpay(options);
          rzp1.open();
        }
      }
    })
  }


  function verifyPayment(response, order) {

    $.ajax({
      url: '/payment-verify',
      method: 'post',
      data: { order, response, from: "wallet" },
      success: (response) => {
        if (response) {
          Toastify({
            text: "Payment has been succeeded",
            duration: 3000, // Duration in milliseconds
            gravity: "top", // Position (top, bottom, left, right)
            position: "center", // Horizontal position
            backgroundColor: "linear-gradient(to right, #00b09b, #96c93d)", // Background color
            stopOnFocus: true // Prevents dismissing the toast on hover
          }).showToast();
          setTimeout(function () {
            location.reload();
          }, 3000); // Reload page after 3 seconds
        } else {
          Toastify({
            text: "Something wrong occurred while processing the payment.",
            duration: 3000,
            gravity: "top",
            position: "center",
            backgroundColor: "linear-gradient(to right, #ff6c6c, #f66262)",
            stopOnFocus: true
          }).showToast();
          setTimeout(function () {
            location.reload();
          }, 3000);
        }
      }
    });
  }
</script>